body{
    width: 1024px;
    margin: auto;
    background-color: aliceblue;
}
#top {
    position: relative;
    background-color: aliceblue;
    color: white;
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

#bottom {
    /*position: relative;*/
    background-color: #9999ff;
    padding: 5px;
    margin: 5px 0px 0px 0px;
}

#left {
    float: left;
    background: #ccffcc;
    padding: 0px;
    width: 230px;
}

#right {
    float: right;
    background-color: aliceblue;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: aliceblue;
    padding: 5px;
}

.left_content {
    background-color: aliceblue;
    padding: 0px;
    margin-left: 235px;
    min-height: 1000px;
}

.right_content {
    background-color: aliceblue;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
.img-circle{border-radius:50%}

.img-thumbnail{
    padding:4px;line-height:1.428571429;
    background-color:#fff;border:1px solid #ddd;
    border-radius:4px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;
    display:inline-block;max-width:100%;height:auto
}
/*Remove border in panel grid*/
.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important}
/*Customize backgroud menu bar*/
.ui-menubar,.ui-menu-child{
    background: #004e8e !important;
}